<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragments/wrapper">
<head>
    <title>Harlyn - admin - solution</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2 th:text="${'Solution #' + solution.id}"></h2>

    <div th:if="${solution.answer}">
        Solution data: <span th:text="${solution.answer}"></span>
    </div>
    <div th:if="${solution.file != null}">
        Solution file: <a th:href="${'/admin/solution/' + solution.id + '/file'}"
                          th:text="${solution.file.name}"
            ></a>
    </div>
    <div th:unless="${solution.answer}">Solution has no data or it was send via email</div>
    <div th:if="${solution.checked}">
        <div>
            Solution already checked. Status:
        <span class="alert alert-success" th:if="${solution.correct}">
            Correct
        </span>
        <span class="alert alert-danger" th:unless="${solution.correct}">
            Wrong
        </span>
        </div>

    </div>
    <div th:unless="${solution.checked}">
        Solution has not been reviewed yet.
        <form method="post" th:action="${'/admin/solution/' + solution.id + '/check'}">
            <label for="correct">Decision</label>
            <select id="correct" name="correct">
                <option value="0">Wrong</option>
                <option value="1">Correct</option>
            </select>
            <input type="submit" value="Review"/>
        </form>
    </div>
</div>
</body>
</html>