spring.datasource.url=jdbc:postgresql://localhost:5432/harlyn_test
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=none
spring.datasource.testWhileIdle = true
spring.datasource.validationQuery = SELECT 1
spring.datasource.initialize=false
spring.jpa.show-sql = true
spring.jpa.hibernate.naming-strategy = org.hibernate.cfg.ImprovedNamingStrategy
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQL9Dialect

mail.host=smtp.smtp.ru
mail.username=smtp@smtp.com
mail.password=password
mail.confirm.from=from@smtp.com
mail.confirm.subject=Confirm you user!


mail.problem.from=fromo@mail.com
mail.problem.to=to@mail.com