<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorator="fragments/wrapper">
<head>
	<title th:text="#{admin.competition.title}"></title>
</head>
<body>
<div layout:fragment="content" class="container">
	<h3 th:text="#{admin.competition.rank.personal.title}"></h3>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th th:text="#{admin.competition.rank.personal.username}"></th>
			<th th:text="#{admin.competition.rank.personal.team}"></th>
			<th th:text="#{admin.competition.rank.personal.username}"></th>
			<th th:text="#{admin.competition.rank.personal.solver_problems}"></th>
			<th th:each="problem : ${competition.problems}"
					th:text="${problem.name}"
			></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user_result : ${rank_data}">
			<td th:text="${user_result.solver.username}"></td>
			<td th:text="${user_result.solver.team.name}"></td>
			<td th:text="${user_result.points}"></td>
			<td th:text="${user_result.problems.size()}"></td>
			<td th:each="problem : ${competition.problems}"
					th:class="${user_result.problems.contains(problem)? 'success' : 'alert'}"
					th:text="${user_result.problems.contains(problem)? 'Solved' : '-'}"
			></td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>