<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorator="fragments/wrapper">
<head>
	<title>Harlyn - me</title>
</head>
<body>
<div layout:fragment="navbar"></div>
<div layout:fragment="content" class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<div class="error-template">
				<h1>
					Oops!</h1>
				<div class="error-details" th:text="${message}">
					Sorry, an error has occured, Requested page not found!
				</div>
				<div class="error-actions">
					<a th:href="@{/competition/list}" class="btn btn-primary btn-lg">
						Go To Home </a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>