<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorator="fragments/wrapper">
<head>
	<title>Harlyn - me</title>
</head>
<body>
<div layout:fragment="navbar"></div>
<div layout:fragment="content" class="container">
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		<span th:text="${message}"></span>
	</div>
</div>
</body>
</html>