<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragments/wrapper">
<head>
    <title>Harlyn - me</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:text="${user.username}"></div>
    <form th:unless="${me.team} == null" class="form-group" th:action="${'/users/' + user.id + '/invite'}" method="post">
        <input class="form-control" type="submit" value="Пригласить пользователя в команду" />
    </form>
</div>
</body>
</html>