<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head layout:fragment="head" lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Harlyn</title>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/moment.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/js/sockjs.min.js"></script>
	<script src="/static/js/stomp.min.js"></script>
	<script src="/static/js/jscolor.min.js"></script>
	<script src="/static/js/underscore.min.js"></script>

	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css"/>
	<link rel="stylesheet" href="/static/css/chat.css"/>
</head>
<script type="text/javascript">
	$(function () {
		$('#datetimepicker_start').datetimepicker({
			format: 'DD/MM/YYYY HH:mm:ss'
		});
		$('#datetimepicker_end').datetimepicker({
			format: 'DD/MM/YYYY HH:mm:ss'
		});
		$("#collapse").on("click", function () {
			$(".collapse").toggle(1);
		});
		scrollDown(document.getElementById("competition-chat"));
	});
</script>
<script type="text/javascript" th:if="${me != null and competition != null}">
	/*<![CDATA[*/
	function trim(str, chr) {
		var rgxtrim = (!chr) ? new RegExp('^\\s+|\\s+$', 'g') : new RegExp('^' + chr + '+|' + chr + '+$', 'g');
		return str.replace(rgxtrim, '');
	}

	var stompClient = null;
	function connect() {
		var socket = new SockJS('/chat');
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function (frame) {
			console.log('Connected: ' + frame);
			stompClient.subscribe('/out/leaderboard.' + $("#competition_id").val(), function (message) {
				repaintLeaderboard(message.body);
			});
			stompClient.subscribe('/out/competition.' + $("#competition_id").val(), function (chatMessage) {
				showMessage(JSON.parse(chatMessage.body));
			});
			stompClient.subscribe('/out/competition.purge', function (chatMessage) {
				purgeMessage(JSON.parse(chatMessage.body));
			});
		});

	}

	function scrollDown(elem) {
		elem.scrollTop = elem.scrollHeight;
	}

	function disconnect() {
		if (stompClient != null) {
			stompClient.disconnect();
		}
		console.log("Disconnected");
	}

	function send() {
		var text = $("#input-content").val();
		if (text.isEmpty) {
			return;
		}
		stompClient.send("/in/competition." + $("#competition_id").val(), {}, JSON.stringify({
			content: text
		}));
		$("#input-content").val("");
	}

	function showMessage(payload) {
		var tpl = _.template($("#chat-message").html());
		$("#competition-chat").append(tpl({message: payload, is_admin: $("#is_admin").val()}));
		scrollDown(document.getElementById("competition-chat"));
	}
	function purgeMessage(id) {
		$("#message-" + id).remove();
		$("#border-" + id).remove();
	}

	function repaintLeaderboard(payload) {
		$("#scoreboard").html(trim(payload, '"'));
	}
	$(function () {
		$.ajax({
				url: "/competition/" + $("#competition_id").val() + "/chat/last",
				type: "GET"
			})
			.done(function (data) {
				for (var i = 0; i < data.length; i++) {
					showMessage(data[i]);
				}
			})

	});

	function adminHandler (e) {
		e.preventDefault();
		var url = e.currentTarget.href;
		$.ajax({
				type: 'POST',
				url: url
			})
			.done(function (e) {
				alert(e);
			})
		;
	}
	/*]]>*/
</script>
<script type="text/template" id="chat-message">
	<![CDATA[
	<!-- guard comment to prevent browsers from considering the previous and next lines as part of a comment -->
	<div class="row" id="message-<%= message.id %>">
		<div class="col-lg-12">
			<div class="media">
				<div class="media-body">
					<% if (message.author.is_admin) { %>
					<h4 class="media-heading text-danger">
						<% } else { %>
						<h4 class="media-heading">
							<% } %>
							<%= message.author.username %>
							<span class="small pull-right"></span>
						</h4>
						<% if (is_admin) { %>
						<a onclick="adminHandler(event)" class="admin-option" href="/admin/user/<%= message.author.id %>/ban/chat">Ban user</a>
						<a onclick="adminHandler(event)" class="admin-option" href="/admin/competition/chat/<%= message.id %>/purge">Purge message</a>
						<% } %>
						<p id="message-content-"><%= message.content %></p>
				</div>
			</div>
		</div>
	</div>
	<hr id="border-<%= message.id %>" />
	<!-- ]]> -->
</script>
<body onload="connect()">
<div layout:fragment="navbar">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
								aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/competition/list}" th:text="#{main.navbar.title}"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:text="#{main.navbar.competition}" th:href="@{/competition/list}"></a></li>
					<li><a th:text="#{main.navbar.teams}" th:href="@{/team/}"></a></li>
					<li th:if="${me.hasRole('ROLE_ADMIN')}" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							 aria-expanded="false" th:text="#{main.navbar.admin}"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/admin/problem/list}" th:text="#{main.navbar.admin.problems}"></a></li>
							<li><a th:href="@{/admin/team/}" th:text="#{main.navbar.teams}"></a></li>
							<li><a th:href="@{/admin/user/}" th:text="#{main.navbar.admin.users}"></a></li>
							<li><a th:href="@{/admin/solution/}" th:text="#{main.navbar.admin.solutions}"></a></li>
							<li><a th:href="@{/admin/competition/list}" th:text="#{main.navbar.admin.competitions}"></a></li>
							<li><a th:href="@{/admin/category/list}" th:text="#{main.navbar.admin.categories}"></a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${me != null and me.team == null}"><a th:href="@{/users/me}" th:text="Invites"></a></li>
					<li th:if="${me != null and me.team != null}"><a th:href="${'/team/'+me.team.id}" th:text="${me.team.name}"></a></li>
					<li th:if="${me != null}"><a th:href="@{/logout}" th:text="#{main.navbar.logout}"></a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
</div>
<div layout:fragment="content">

</div>
<div class="bootstrap snippet footer navbar-fixed-bottom" layout:fragment="chat">
	<div th:if="${me != null and competition != null}" class="row">
		<input type="hidden" id="competition_id" th:value="${competition.id}"/>
		<input type="hidden" id="is_admin" th:value="${me.isAdmin()}"/>
		<div class="col-md-3 pull-right" style="margin-right: 15px;">
			<div class="portlet portlet-default">
				<div id="collapse" class="portlet-heading" style="cursor: pointer;">
					<div class="portlet-title">
						<h4 th:text="${me.username}"></h4>
					</div>
					<div class="portlet-widgets">
						<span class="divider"></span>
						<a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-collapse collapse in" style="display: none;">
					<div>
						<div id="competition-chat" class="portlet-body chat-widget"
								 style="overflow-y: auto; width: auto; height: 300px;">
							<!--empty-->
						</div>
					</div>
					<div class="portlet-footer">
						<form role="form">
							<div class="form-group">
								<textarea id="input-content" class="form-control" placeholder="Enter message..."></textarea>
							</div>
							<div class="form-group">
								<button type="button" onclick="send()" class="btn btn-default pull-right">Send</button>
								<div class="clearfix"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-md-4 -->
	</div>
</div>
</body>
</html>