<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head layout:fragment="head" lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Harlyn</title>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css"/>
</head>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker_start').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss'
        });
        $('#datetimepicker_end').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss'
        });
    });
</script>
<body>
<div layout:fragment="navbar">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Harlyn</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/competition/list">Competitions</a></li>
                    <li><a href="/team/">Teams</a></li>
                    <li th:if="${me.hasRole('ROLE_ADMIN')}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/problem/list">Problems</a></li>
                            <li><a href="/admin/team/">Teams</a></li>
                            <li><a href="/admin/user/">Users</a></li>
                            <li><a href="/admin/solution/">Solutions</a></li>
                            <li><a href="/admin/competition/list">Competitions</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${me != null}"><a href="/users/me" th:text="${me.username}"></a></li>
                    <li th:if="${me != null}"><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>
<div layout:fragment="content">

</div>
</body>
</html>