<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorator="fragments/wrapper">
<head>
	<title>Harlyn - problem</title>
</head>
<body>
<div layout:fragment="content" class="container">
	<div class="jumbotron">
		<h2 th:text="${problem.name}"></h2>
		<h3 th:if="${problem.category != null}" th:text="${problem.category.name}"></h3>

		<div th:if="${available}">
			<p th:text="${problem.info}"></p>
			<a th:if="${problem.file != null}" th:href="${'/problem/' + problem.id + '/file'}"
				 th:text="${problem.file.name}"
			></a>
			<div th:unless="${problem.hints.empty}">
				<h3>Hints</h3>
				<div th:each="hint : ${problem.hints}"
						 class="alert alert-warning"
				>
					<strong th:text="${#dates.format(hint.postedAt, T(com.harlyn.domain.problems.Problem).DATE_FORMAT)}"></strong>
					<span th:text="${hint.content}"></span>
				</div>
			</div>
		</div>

		<div th:unless="${available}" class="alert alert-warning">Problem do not available anymore</div>
	</div>
	<div th:if="${available and available_by_previous}">
		<form th:unless="${problem.solverTeams.contains(me.team)}" class="form-group"
					th:action="${'/problem/' + problem.id + '/submit'}" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="query">Input answer</label>
				<textarea class="form-control" rows="4" name="query" placeholder="Input answer" id="query"></textarea>
			</div>
			<div class="form-group">
				<label for="file">If required, attach file</label>
				<input class="form-control" id="file" type="file" name="file" value="Attach file"/>
			</div>
			<input class="form-control btn btn-primary" type="submit" value="Submit answer"/>
		</form>
	</div>
	<div th:if="${problem.solverTeams.contains(me.team)}" class="alert alert-success">
		Your team already solved this problem
	</div>
	<div th:unless="${problem.solverTeams.contains(me.team)}">
		<div class="alert alert-danger" th:unless="${available_by_previous}">
			Problem require <a th:text="${problem.prevProblem.name}"
												 th:href="${'/problem/' + problem.prevProblem.id}"
		></a> to be completed first
		</div>
	</div>
</div>
</body>
</html>