<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragments/wrapper">
<head>
    <title>Harlyn - admin - solution</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <form th:action="${'/admin/problem/' + problem.id }" method="post">
        <div class="form-group">
            <label for="name" class="form-control">Name of problem</label>
            <input th:value="${problem.name}" class="form-control" type="text" name="name" id="name" placeholder="Name of problem" />
        </div>
        <div class="form-group">
            <label for="answer" class="form-control">Answer of problem</label>
            <input th:value="${problem.answer}" class="form-control" type="text" name="answer" id="answer" placeholder="Answer of problem" />
        </div>
        <div class="form-group">
            <label for="points" class="form-control">Points for solving</label>
            <input th:value="${problem.points}" class="form-control" type="number" name="points" id="points" />
        </div>
        <div class="form-group">
            <label class="form-control" for="info">Info</label>
            <textarea th:value="${problem.info}" class="form-control" name="info" id="info"></textarea>
        </div>
        <div class="form-group">
            <label class="form-control" for="problem_type">Problem type</label>
            <select name="problem_type" id="problem_type">
                <option th:each="problem_type : ${problem_handlers_keys}"
                        th:value="${problem_type.name()}"
                        th:text="${problem_type.localeName}"
                        th:selected="${problem_type == problem.problemType}"
                        ></option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary form-control" value="Edit" />
        </div>
    </form>
</div>
</body>
</html>