<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragments/wrapper">
<head>
    <title>Harlyn - competitions</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h3>Competition list</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="competition : ${competitions}">
            <td>
                <a th:href="@{'/competition/' + ${competition.id}}" th:text="${competition.name}"></a>
            </td>
            <td th:text="${competition.startDate != null}? ${#dates.format(competition.startDate, T(com.harlyn.domain.problems.Problem).DATE_FORMAT)} : 'Unbounded'"></td>
            <td th:text="${competition.endDate != null}? ${#dates.format(competition.endDate, T(com.harlyn.domain.problems.Problem).DATE_FORMAT)} : 'Unbounded'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>