<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="fragments/wrapper">
<head>
    <title>Harlyn - competition - problems</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h3>Problem list</h3>
    <h2 th:text="${competition.name}"></h2>
    <ul>
        <li th:each="problem : ${competition.problems}">
            <a th:href="${'/problem/' + problem.id}" th:text="${problem.name}"></a>
            <span th:if="${me.team.solvedProblems.contains(problem)}"> (SOLVED)</span>
        </li>
    </ul>
</div>
</body>
</html>