<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
			layout:decorator="fragments/wrapper">
<head>
	<title>Harlyn - competition - problems</title>
</head>
<body>
<div layout:fragment="content" class="container">
	<h3 th:text="${competition.name + ': problem list'}">Problem list</h3>
	<div class="form-group" th:unless="${categories.empty}">
		<form th:action="${'/competition/' + competition.id + '/problems'}" method="get">
			<a th:if="${selected_category_id != 0}" th:href="${'/competition/' + competition.id + '/problems'}">
				Flush filter
			</a>
			<label for="category">Category</label>
			<select name="category" id="category" class="form-control">
				<option th:each="category : ${categories}"
								th:text="${category.name}"
								th:value="${category.id}"
								th:selected="${selected_category_id != 0 and selected_category_id eq category.id}"
				></option>
			</select>
			<input type="submit" value="Filter" class="form-control btn btn-primary" />
		</form>
	</div>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Name</th>
			<th>Points</th>
			<th>Category</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Solved by your team?</th>
		</tr>
		</thead>
		<tbody  th:with="sel_cat=${selected_category_id}">
		<tr th:each="problem : ${competition.problems.?[__${sel_cat}__ == 0 or (category != null and category.id eq __${sel_cat}__)]}">
			<td>
				<span th:if="${problem.prevProblem != null and !me.team.solvedProblems.contains(problem.prevProblem)}" th:text="${problem.name}"></span>
				<a th:unless="${problem.prevProblem != null and !me.team.solvedProblems.contains(problem.prevProblem)}" th:href="@{'/problem/' + ${problem.id}}" th:text="${problem.name}"></a>
			</td>
			<td th:text="${problem.points}"></td>
			<td th:text="${problem.category != null}? ${problem.category.name} : 'None'"></td>
			<td
				th:text="${problem.startDate != null}? ${#dates.format(problem.startDate, T(com.harlyn.domain.problems.Problem).DATE_FORMAT)} : 'Unbounded'"></td>
			<td
				th:text="${problem.endDate != null}? ${#dates.format(problem.endDate, T(com.harlyn.domain.problems.Problem).DATE_FORMAT)} : 'Unbounded'"></td>
			<td th:if="${me.team.solvedProblems.contains(problem)}"
					th:text="Solved"
					class="alert alert-success"
			></td>
			<td th:unless="${me.team.solvedProblems.contains(problem)}"
					class="alert alert-info"
			>Not yet
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>